* {
    background-color: #00000011;
    border: 1px solid black;
    padding: 0.25rem;
    margin: 0.25rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}